flask>=3.0.0
flask-cors>=5.0.0
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.5.0
joblib>=1.4.0
fastapi>=0.115.0
uvicorn>=0.31.0
python-dotenv>=1.0.0
folium>=0.17.0
pyarrow>=17.0.0
osmnx>=1.9.0
geopy>=2.4.0
opencage>=3.0.0
langchain>=0.3.0
langchain_community>=0.3.0 